.eventcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
}

.eventnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  margin-bottom: 2em;
}

.eventfilter {
  display: flex;
  flex-direction: row;
  /* gap: 1em; */
}
.eventfilter button {
  font-weight: 500; 
  font-size: 12px; /* Example text size */
  line-height: 24px;
  letter-spacing: 1px;
  margin-right: 1.5em; /* Spacing between buttons */
  background-color: transparent; /* Example button styling */
  border: none;
  cursor: pointer;
  color: #A9AEB4;
}
.eventfilter button.active {
  color: #111936;
}
.normalIcon{
    color: #A9AEB4;
    width: 24px;
    height: 24px;
}
.activeIcon {
  color: #111936;
  width: 24px;
    height: 24px;
}
.iconMargin {
  margin-right: 0.5em;
}
.boxview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.boxeventdetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 1.5em;
  max-width: 19em;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1087);
}

.boxeventschedule{
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1em;
  color: rgba(202, 205, 208, 1);
}
.boxeventdescription{
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1em;
  color: rgba(148, 158, 168, 1);
}
.boxeventtitle{
  font-weight: 400;
 font-size: 1rem;
  color: #111936;
}
.boxeventhost{
 font-weight: 400;
  font-size: 1rem;
  color: #7D7878;
}
.boxeventheader{
  display: flex;
  flex-direction: column;
}
.boxeventfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.boxeventattendees{
  display: flex;
  align-items: center;
  color:#A9AEB4;
  gap: 0.5em;
  font-size: 0.8rem;
  line-height: 1em;
}

.listview {
  display: flex;
  flex-direction: column;
}

.listeventdetails {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  background: white;
  padding: 0.6em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1087);
text-wrap: nowrap;

}

.listeventinformation{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 87%;
  gap: 20px;
}

.listeventtitle{
font-size: 18px;
font-weight: 400;
line-height: 48px;
color: #111936;
width: 18em;
}

.listeventdescription{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #949EA8;
width: 15em;
text-wrap: nowrap;
}

.listeventhost{
font-size: 14px;
font-weight: 400;
line-height: 24px;
color: #7D7878;
width: 8em;
}

.listeventschedule{
font-size: 14px;
font-weight: 400;
line-height: 24px;
color: #CACDD0;
width: 10em;

}

.listeventattendees{
font-size: 14px;
font-weight: 400;
line-height: 24px;
color: #949EA8;
margin-right: 5%;
}

.custombutton{
  background: #111936;
  color: white;
  padding: 1.5em 5em;
  width: fit-content;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}