.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-bottom: 10em;
}

.loginform h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  color: #111936;
}

.loginform span {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #949ea8;
}

.validationerror {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #2d0def;
}

.signupalt {
  display: none;
}

.neweventform {
  background: #ffffff;
  padding: 5em;
  width: 30%;
}

.neweventform h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  color: #111936;
}

.neweventform span {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #949ea8;
}

@media screen and (max-width: 500px) {
  .signupalt {
    display: block;
  }
}
