.initialiconcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #D9DCE1;
color: white;
font-size: 14px;
font-weight: 500;
line-height: 14px;
padding: 1em;
width: 40px;
height: 40px;

}