.sidebanner {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Vertical alignment */
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 17%,
    rgba(93, 126, 156, 0.442) 60%,
    rgb(0, 0, 0) 100%
  );
  width: 20em;
  height: 100vh;
  padding: 2em;
}

.lowerbanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 10em;
}

.sidebannerlayout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebannercontent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.topbanner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 2em;
  color: gray;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  gap: 0.25em;
}

.logostuff{
  color: white;
}

.lowerbanner span{
font-size: 30px;
font-weight: 700;
line-height: 37px;
color: white;
text-align: center;
}

@media screen and (max-width: 500px) {
  .sidebanner {
    /* display: none; */
  width: 0em;
  background: transparent;
height: 0em;
  }

  .lowerbanner{
    display: none;
  }

  .topbanner {
    display: none;
  }
  .logostuff h1{
    display: block;
    color: black;
  }

  .sidebannerlayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0em;
}
}
