.sidebanner {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Vertical alignment */
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(61, 71, 239, 1) 17%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 20em;
  height: 100vh;
  padding: 2em;
}

.lowerbanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 10em;
}

.sidebannerlayout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebannercontent {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .sidebanner {
    display: none;
  }
}
